In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame()
data['X'] = [0,0,0,0,1,1,1,1]
data['A'] = [0,0,1,1,0,0,1,1]
data['Y'] = [0,1,0,1,0,1,0,1]
amounts = [82,24,193,93,172,263,49,124]
data

   X  A  Y
0  0  0  0
1  0  0  1
2  0  1  0
3  0  1  1
4  1  0  0
5  1  0  1
6  1  1  0
7  1  1  1

In [3]:
df = pd.DataFrame()
for i, amount in enumerate(amounts):
    df = pd.concat([df, pd.concat([data.loc[i]]*amount, axis=1).T])
df = df.reset_index()

In [4]:
df.groupby(['X','A','Y']).count()

       index
X A Y
0 0 0     82
    1     24
  1 0    193
    1     93
1 0 0    172
    1    263
  1 0     49
    1    124

In [5]:
df.groupby(['A'])['Y'].mean()

A
0    0.530499
1    0.472767
Name: Y, dtype: float64

In [6]:
df.groupby(['X','A'])['Y'].mean()

X  A
0  0    0.226415
   1    0.325175
1  0    0.604598
   1    0.716763
Name: Y, dtype: float64

In [7]:
def calc_ATE(df):
    return df[df['A']==1]['Y'].mean() - df[df['A']==0]['Y'].mean()

In [8]:
ATE = calc_ATE(df)
CATE = df.groupby('X').apply(calc_ATE)
len_Xs = df.groupby('X').Y.count()
ATE_conditional = ((CATE[0] * len_Xs[0]) + (CATE[1] * len_Xs[1])) / sum(len_Xs)

## Answers

In [9]:
print("a. ATE assuming exchangability is:", ATE)

a. ATE assuming exchangability is: -0.05773219125399187

In [10]:
print("b. ATE assuming conditional exchangability in X is:", ATE_conditional)

b. ATE assuming conditional exchangability in X is: 0.10691031970299969

In [11]:
print("c. CATE is defined under conditional exchangability and in our case it equals", CATE[0], 
      "for X=0 and", CATE[1], "for X=1.")

c. CATE is defined under conditional exchangability and in our case it equals 0.09875973083520251 for X=0 and 0.11216530463092156 for X=1.

In [12]:
print("d. The conditional ATE is positive while the ATE is negative. The phenomena where condtioning on a confounder changes the direction of an effect is called is called Simpson's Paradox.")

d. The conditional ATE is positive while the ATE is negative. The phenomena where condtioning on a confounder changes the direction of an effect is called is called Simpson's Paradox.

In [13]:
print("e. Conditioning on X has a strong effect on our estimate of A thus it is unlikely X & A are independent.")

e. Conditioning on X has a strong effect on our estimate of A thus it is unlikely X & A are independent.